<div class="class-body">
    <p><b>Title:</b> {{book.title}}</p>
    <p><b>Publisher:</b> {{book.publisher}}</p>
    <p><b>Authors:</b> {{book.author}}</p>
    <p><b>Categories:</b> {{book.category}}</p>
    <p><b>Date of arrival:</b> {{book.arrivalDate}}</p>
    <p><b>Published date:</b> {{book.publishedDate}}</p>
    <p><b>Price:</b> {{book.price | currency:'USD'}}</p>
    <p><b>Quantity:</b> {{book.quantity}}</p>
    <!-- 
        <button href="#" class="card-link"> Add to cart</button> &nbsp;                             
        <button routerLink="/books"> Hide detail </button>
    -->
</div>